{# {% set categoryPath = "/images/gallery/" + category.data.tag %}
{% for imageFile in category.data.images %}
    <div class="col-md-3 my-1">
        <div class="category-images" data-category="{{ category.data.tag }}">
            <div class="item-content">
                <img class="rounded gallery-img " src="{{ categoryPath }}/{{ imageFile }}" alt=""></div>
            </div>
        </div>
{% endfor %} #}