<section class="filter-button-container">
  <button class="filter-button active" type="button" data-filter="all" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Toutes les catégories
  </button>

  <div class="collapse" id="collapseExample">
    {% for category in collections.galerie %}
      <button class="filter-button" data-filter="{{ category.data.tag }}">{{ category.data.tag|capitalize }}</button>
    {% endfor %}
  </div>
</section>

<div class="gallery-container">
  {% for category in collections.galerie %}
    <div class="row">
      {% for i in [1, 2, 3, 4] %}
        {% set imagePath = '/images/gallery/' + category.data.tag + '/image' + i + '.png' %}
        <div class="col-md-3 my-2 category-images" data-category="{{ category.data.tag }}">
          <div class="item-content">
            <img class="rounded gallery-img" src="{{ imagePath }}" alt="image">
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
