<nav class="navbar navbar-expand-sm" id="navbar__custom">
  <div class="container">
    <a class="navbar-brand" href="/accueil">{% EleventyImage "/images/logo.png", "Logo - Charles Cantin", "159.035% 285.526%" %}</a>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/accueil' in page.url }}" href="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/galerie' in page.url }}" href="/galerie">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/tarifs' in page.url }}" href="/tarifs">Tarifs & Prestations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>