<header class="header container">
    <h1 class="header__title">
        <a href="/">Charles Cantin</a>
    </h1>
    <ul class="header__links">
        <li>
            <a class="header__link" href="/index">Accueil</a>
        </li>
        <li>
            <a class="header__link" href="/galerie">Galerie</a>
        </li>
        <li>
            <a class="header__link" href="/tarif">Tarifs & Prestations</a>
        </li>
        <li>
            <a class="header__link" href="/contact">Contact</a>
        </li>
    </ul>
</header>