<section>
{#       <div class="grid text-center prestation" style="--bs-columns: 3;"> #}
      <div class="text-center prestation">
        {% for prestation in collections.prestations %}
          {% include "prestation-card.njk" %}
        {% endfor %}
      </div>
</section>