<section>
    <div class="p-5 prestations">
      <div class="prestation-grid row row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for prestation in collections.prestations %}
          {% include "prestation-card.njk" %}
        {% endfor %}
      </div>
  </div>
</section>