<section>
      <div class="grid text-center prestation" style="--bs-columns: 3;">
        {% for prestation in collections.prestations %}
          {% include "prestation-card.njk" %}
        {% endfor %}
      </div>
</section>