/* CSS Variables */
:root {
  --background: #FFFCE7;
  --primary: #3E4B53;
  --secondary: #C9EDDC;
  --accent: #EF9095;
  --text: #232323;
  --box-shadow: 0 10px 15px -3px rgb(35 35 35 / 0.1),
    0 4px 6px -4px rgb(35 35 35 / 0.1);
}

/* CSS Normalization */
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 */
html,
body {
  background-color: var(--background);
}

body {
  text-rendering: optimizeSpeed;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */
/* .container {
  position: relative;
  margin: 0 auto;
  padding: 0 0;
} */

.content {
  flex: 1 0 auto;
}

.text-center {
  text-align: center;
}

/* -------- Navigation Style -------- */
#navbar__custom, #footer__custom {
  background: var(--primary);
  font-size: 1.125rem;
  padding: 1rem 6.5rem;
  font-weight: 400;
  font-family: 'Nova Mono', monospace;
}

#navbar__custom .nav-item, #footer__custom .nav-item {
  margin : auto 4px;
}

#footer__custom p{
  color: var(--background);
}

.nav-link{
  position: relative;
  &::after {
    content: "";
    left: 0px;
    bottom: -4px;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--secondary);
    transform: scaleX(0);
    transition: transform 0.3s ease 0s;
  }
}

#navbar__custom a, #footer__custom a {
  gap: 2rem;
  color: var(--background);
  &.active, &:hover{
    color: var(--secondary);
    &::after{
      transform: scaleX(1);
      background-color: var(--secondary);
    }
  }
}

/* Heading Style */
.heading--main {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Nova Mono', monospace;
  color: var(--background);
}

.heading--home {
  font-size: 4.375rem;
  font-weight: 400;
  font-family: 'Nova Mono', monospace;
  color: var(--background);
  position: absolute;
  padding: 0 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  background: url('/images/home_background.png') no-repeat;
  height: 100vh; width:100vw;
}

/* Contact Styles */
.form {
  max-width: 36rem;
  margin: 3rem auto;
  border-radius: 0.25rem;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form__input {
  display: block;
  border: 1px solid var(--background);
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: var(--text);
}

.form__button {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--accent);
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: var(--primary);
}

@media (min-width: 640px) {
  .header__title {
    margin-bottom: 0;
  }

  .profile {
    flex-direction: row;
  }

  .profile__image-wrapper img {
    margin: 4rem;
  }
}